<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.tabby.android"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        >
    <activity
        android:name=".internal.ui.CheckoutActivity"
        android:exported="true"
        android:theme="@style/Theme.TabbySDK.NoActionBar"
        >
    </activity>
    </application>

</manifest>